<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity6>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Supermarches</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Supermarches
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Supermarche</th>
						<th>Nombre Employee</th>
						<th>Date de construction</th>
						<th>Type</th>
						
						
					</tr>
					<tr th:each="s:${supermarches.content}">
						<td th:text="${s.idSupermarche}"></td>
						<td th:text="${s.nomSupermarche}"></td>
						<td th:text="${s.nbEmployee}"></td>
						<td th:text="${s.dateConstruction}"></td>
						<td th:if= "${!#strings.isEmpty(s.type)}" th:text="${s.type.nomType}"></td>
						<td th:if= "${#strings.isEmpty(s.type)}" th:text="${'Pas de Type'}"></td>
						<td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{modifierSupermarche(id=${s.idSupermarche},page=${currentPage},size=${size})}">Editer</a></td>
						<td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{ supprimerSupermarche(id=${s.idSupermarche},page=${currentPage},size=${size})}">Supprimer</a></td>
					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ ListeSupermarches(page=${status.index}, size=${size} ) }" th:text="${status.index }"></a>
					</li>
				</ul>
			</div>
		</div>
	</div> 
</body>

</html>